* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Beatrice', Arial, sans-serif;
}

body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: #0b0b0d;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, .header_nav, .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, #header, .page_contenair {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 30px;
    display: block;
    unicode-bidi: isolate;
}

/* Styles spécifiques */
.header_contenair, .menu {
    padding: 20px 0;
}

.h3_title{
    font-size: 30px;
    font-weight: 600;
    position: relative;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.h3_title:hover::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #f3ca14;
    margin: 1px auto;
}

.header_navList {
    display: flex;
    list-style: none;
    padding: 0;
}

.header_navItem {
    margin-right: 40px;
    font-size: 20px;
}

a {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #f3ca14;
}

a:hover {
    background-color: #f3ca14;
    color: #fff;
}

main h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10px;
}

.menu-G {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.search-input {
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 20px;
}


.b {
    display: block;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    color: #f3ca14;
    background-color: #1f1f23;
    border: none;
}

.b:hover {
    background-color: #f3ca14;
    color: #fff;
}

.b:disabled {
    background-color: #f3ca14;
    color: #fff;
}

.pokemon-liste {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #1f1f23;
    border-radius: 20px;
    padding: 12px;
    margin: 15px;
    width: 220px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    max-height: 250px;
}

.pokemon-card:hover {
    transform: scale(1.05);
    transition: all 0.2s ease-in-out;
}

.active {
    background-color: #f3ca14;
    color: #fff;
}

.pokemon-card p {
    font-size: 15px;
    font-weight: 500;
    margin: 10px 0;
}

#count {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0;
}